* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    
}

.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

.chat-content {
    display: flex;
    flex-direction: column-reverse;
}

.user-chat-box, .ai-chat-box {
    display: none; /* Hide chat messages */
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.avatar img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.avatar img {
    box-shadow: rgba(0, 225, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media only screen and (min-width: 600px) {
    .avatar img {
        height: 410px;
        box-shadow: rgba(0, 225, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
}